* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: #FCB06D;
    display: grid;
    place-items: center;
}

.contenido {
    width: 150%;
    height: 100%;
    display: grid;
}

.contenido .menu {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    border: 6px solid white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  30%;
    font-size: 25px;
    font-weight: bold;
}

.menu a:hover {
    color: white;
    border: 8px double #704E30;
    padding: 3px;
    transition: all ;
    -webkit-transition: all ;
    -moz-transition: all ;
    -ms-transition: all ;
    -o-transition: all ;
}

.menu .selected {
    color: #704E30;
}

a {
    border: 6px double white;
    border-right: none;
    border-left: none;
    padding: 10px;
    color: #704E30;
    text-decoration: none;
    transition: padding 1s;
    transition-delay: 1s;
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
}

.rojizo {
    color: #704E30;
    align-items: flex-start;
}

.secciones {
    width: 30%;
    height: 50%;
    color: #704E30;
    display: grid;
    place-items: center;
}
.secciones > div:nth-child(1) {
    height: 300px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
}
.secciones .seccion {
    border: 1px solid white;
    display: grid;
    place-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.seccion:hover, .seccion.selected {
    background-color: #704E30;
    color: white;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.catalogo {
    display: grid;
    place-items: center;
}

h2{
    text-align: center;
    font-weight: bold;
}

.idiomas {
    display: grid;
    grid-template-columns: 32px 32px;
    grid-gap: 20px;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px;
    user-select: none;
}
.idiomas > a {
    display: block;
    font-size: 12px;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-weight: bold;
}
.idiomas a:hover {
    background-color: #704E30;
    color: #fff;
}

.cajarecuadro{
    border: 3px solid #704E30;
}
